/*
!.gitignore

!/ceshi/
/ceshi/*
!/ceshi/ceshi2/
/ceshi/ceshi2/*
!/ceshi/ceshi2/ceshi3/
/ceshi/ceshi2/ceshi3/*
!/ceshi/ceshi2/ceshi3/ceshi4/
/ceshi/ceshi2/ceshi3/ceshi4/*
!/ceshi/ceshi2/ceshi3/ceshi4/ceshi5.txt
